/* TODO: 
  Move content and choices to bottom of image 

  Change styling for choices buttons 
 */
* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  height: 100%;
}
body {
  font-family: 'Roboto Mono', monospace;
}

.img-container {
  height: 100%;
  background: url('../images/image.png');
  background-size: cover;
  background-color: black;

}

.img-container h1 {
  color: white;
}

.img-caption {
  min-height: 10em;
  display: table-cell;
  vertical-align: middle;
  padding-left: 25px;
  padding-top: 50px;
}

.button-container {
  height: 50px;
  width: 100px;
  position: absolute; 
  right: 5px; 
  bottom: 5px; 
}

header {
  position: absolute;
  top: 5px;
  right: 5px;
}
.board {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.s1 {
  height: 100%;
  background-size: cover;
  background-image: url('../images/ChooseYourWin_TheSearch_color.svg');
} 

.s2, .s3 {
  height: 100%;
  background-size: cover;
  background-image: url('../images/ChooseYourWin_JobApplication.svg');
}
.s4 {
  height: 100%;
  background-size: cover;
  background-image: url('../images/confidence_gap_chart.svg');
}
.s5, .s6, .s8, {
  background-image: url('../images/ChooseYourWin_InterviewQA.png');

}

.content-box {
  background: #fff;
  display: inline-block;
  border: 5px dashed #000;
  padding: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 20px;
}