/* TODO: 
  Move content and choices to bottom of image 

  Change styling for choices buttons 
 */
* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  height: 100%;
}
body {
  font-family: 'Roboto Mono', monospace;
}

.img-container {
  height: 100%;
  background: url('../images/LittleMoment_by_Nosego_photoby_empiresevenstudios.jpg');
  background-size: cover;
  background-color: black;

}

.img-container h1 {
  color: white;
}

.img-caption {
  min-height: 10em;
  display: table-cell;
  vertical-align: middle;
  padding-left: 25px;
  padding-top: 50px;
}

.button-container {
  height: 50px;
  width: 100px;
  position: absolute; 
  right: 5px; 
  bottom: 5px; 
}

header {
  position: absolute;
  top: 5px;
  right: 5px;
}
.board {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.s1, .s2, .s3 {
  background-image: url('../images/LittleMoment_by_Nosego_photoby_empiresevenstudios.jpg');
}
.s4 {
  background-image: url('../images/confidence_gap_chart.svg');
}

.s5 {
}
